<!DOCTYPE html>
<html>

<body>
  <a href="https://github.com/login/oauth/authorize?client_id={{ .ClientId }}&redirect_uri=http://localhost:8080/oauth/redirect">
    Login with github
  </a>
</body>

</html>